@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as m;

.about {
    --w: 1365px;
    margin: 102px auto 0;
}

.about__frame {
    width: var(--w);
    margin-inline: auto;
    background: $light;
    box-sizing: border-box;
}

.about__title {
    @include m.title;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.about__stage {
    display: grid;
    grid-template-columns: 550px 1fr;
    column-gap: 20px;
    align-items: start;
}

.about__img {
    width: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .25);
}

.about__text {
    display: grid;
    gap: 20px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: $dark;
}

.map {
    --w: 1000px;
    --map-ar: 16/9;
    margin: 100px auto 60px;
}

.map__frame {
    width: var(--w);
    margin-inline: auto;
    background: $light;
    box-sizing: border-box;
}

.map__title {
    @include m.title;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.map__embed {
    width: 100%;
    aspect-ratio: var(--map-ar);
    margin: 0 auto 60px;
    position: relative;
}

.map__embed iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}

@media (max-width: 1200px) {
    .about {
        --w: 1140px;
        margin-top: 60px;
    }

    .about__title {
        margin-bottom: 60px;
    }

    .about__text {
        font-size: 16px;
        gap: 16px;
    }

    .about__img {
        width: 550px;
        object-fit: contain;
    }

    .map {
        --w: 960px;
        margin: 60px auto;
    }

    .map__title {
        margin-bottom: 60px;
    }

    .map__embed {
        width: 663px;
        height: 500px;
    }
}

@media (max-width: 768px) {
    .about {
        --w: 720px;
        margin-top: 60px;
    }

    .about__title {
        font-size: 36px;
    }

    .about__stage {
        grid-template-columns: var(--w);
        row-gap: 35px;
    }

    .about__img {
        margin: 0 auto;
        width: 600px;
        object-fit: contain;
    }

    .map {
        --w: 663px;
        margin: 60px auto;
    }

    .map__title {
        font-size: 36px;
    }
}

@media (max-width: 360px) {
    .about {
        --w: 320px;
        margin-top: 56px;
    }
    .about__title {
        font-size: 28px;
        margin-bottom: 32px;
    }
    .about__stage {
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
    .about__text {
        font-size: 16px;
        gap: 14px;
    }
    .map {
        --w: 320px;
        margin: 40px auto 20px;
    }
    .map__title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .map__embed {
        padding-inline: 0;
    }
}