@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as m;

.blog {
    --stage-w: 1440px;
    margin: 102px auto 0;
}

.blog__frame {
    width: var(--stage-w);
    margin-inline: auto;
    box-sizing: border-box;
    background: $light;
}

.blog__title {
    @include m.title;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.blog__stage {
    width: var(--stage-w);
    margin: 0 auto;
    padding: 25px 25px 100px;
    box-sizing: border-box;
    position: relative;
    background: $light;
    overflow: hidden;
}

.blog__stage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-top: 1px solid $dark;
    border-left: 1px solid $dark;
    pointer-events: none;
}

.blog__list {
    column-count: 2;
    column-gap: 60px;
    justify-content: start;
    align-content: start;
}

.post {
    position: relative;
    display: grid;
    grid-template-columns: 335px 1fr;
    grid-template-rows: 215px auto;
    row-gap: 15px;
    padding: 25px;
    background: $light;
    border: 1px solid $dark;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
}

.post__img {
    width: 335px;
    height: 240px;
    object-fit: cover;
    display: block;
    border: none;

    position: relative;
    top: -25px;
    left: -25px;
    background: $light;
    z-index: 1;
}

.post__body {
    display: contents;
}

.post__title {
    @include m.title;
    text-align: left;
    font-size: 24px;
    color: $dark;
    text-transform: uppercase;
    grid-column: 2;
    grid-row: 1;
}

.post__btn {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: end;
    width: 145px;
    height: 32px;
    display: inline-grid;
    place-items: center;
    text-decoration: none;
    border: 1px solid $dark;
}

.post__excerpt {
    grid-column: 1 / -1;
    grid-row: 2;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: $dark;
}

@media (max-width: 1200px) {
    .blog {
        --stage-w: 1140px;
        margin-top: 60px;
    }

    .blog__title {
        margin-bottom: 60px;
    }

    .blog__list {
        column-gap: 50px;
    }

    .post__img {
        width: 260px;
    }

    .post__title {
        text-align: left;
    }

    .post {
        grid-template-columns: 260px 1fr;
        grid-template-rows: 218px auto;
        row-gap: 15px;
        padding: 24px;
        margin-bottom: 50px;
    }
    .post__img {
        top: -25px;
        left: -25px;
    }
}

@media (max-width: 768px) {
    .blog {
        --stage-w: 728px;
        margin-top: 72px;
    }
    .blog__title {
        margin-bottom: 40px;
    }
    .blog__stage {
        padding: 18px 18px 60px;
    }
    .blog__list {
        column-gap: 28px;
    }
    .post {
        padding: 18px;
        margin-bottom: 40px;
    }
    .post__img {
        width: 300px;
        height: 210px;
        top: -18px;
        left: -18px;
    }
}

@media (max-width: 360px) {
    .blog {
        --stage-w: 320px;
        margin-top: 56px;
    }
    .blog__title {
        font-size: 28px;
        margin-bottom: 24px;
    }
    .blog__stage {
        padding: 14px 14px 40px;
    }
    .blog__list {
        column-count: 1;
        column-gap: 0;
    }
    .post {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content auto;
        padding: 14px;
        row-gap: 10px;
        margin-bottom: 24px;
    }
    .post__img {
        position: static;
        width: 100%;
        height: 180px;
        margin: -14px -14px 10px;
    }
    .post__title {
        grid-column: 1;
        grid-row: auto;
        font-size: 20px;
    }
    .post__btn {
        grid-column: 1;
        justify-self: stretch;
        height: 36px;
    }
    .post__excerpt {
        grid-column: 1;
        font-size: 14px;
    }
}