@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as m;

.catalog {
    --stage-w: 1440px;
    margin: 100px auto 0;
}

.catalog__frame {
    width: var(--stage-w);
    margin-inline: auto;
    box-sizing: border-box;
    background: $light;
}

.catalog__title {
    @include m.title;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.catalog__filters {
    max-width: 494px;
    height: 60px;
    margin-bottom: 60px;
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    padding: 12px 24px;
    border: 1px solid $dark;
    justify-content: center;
}

.catalog__filter {
    background: transparent;
    color: $dark;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;

    border: 0;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.catalog__filter.active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.catalog__stage {
    width: var(--stage-w);
    margin: 0 auto;
    padding: 25px 25px 60px;
    box-sizing: border-box;
    position: relative;
    background: $light;
    overflow: hidden;
}

.catalog__stage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-top: 1px solid $dark;
    border-left: 1px solid $dark;
    pointer-events: none;
}

.catalog__grid {
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    gap: 60px 60px;
    justify-content: start;
    align-content: start;
}

.catalog__card {
    width: 285px;
    height: 250px;
    background: $light;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
}

.catalog__img {
    display: block;
    width: 285px;
    height: 180px;
    object-fit: cover;
}

.catalog__meta {
    width: 285px;
    height: 70px;
    border: 1px solid $dark;
    background: $light;
    padding: 10px 10px 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.catalog__name,
.catalog__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: $dark;
}