@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as m;

.create-buy {
    --w: 1440px;
    margin: 100px auto 0;
    display: grid;
    justify-items: center;
}

.create-buy__frame {
    width: var(--w);
    padding: 0 10px 0 10px;
    margin-inline: auto;
    background: $light;
    box-sizing: border-box;
}

.create-buy__title {
    @include m.title;
    font-size: 40px;
    margin-bottom: 80px;
    text-align: center;
}

.create-buy__grid {
    display: grid;
    grid-template-columns: 556px 844px;
    column-gap: 20px;
    align-items: start;
    justify-content: center;
}

.create-buy__item {
    display: block;
}

.create-buy__subtitle {
    @include m.title;
    font-size: 24px;
    text-align: center;
    margin: 0 0 60px;
}


.create-buy__img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .25);
}

.create-buy__text {
    width: 556px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    color: $dark;
}

.create-buy__text .accent {
    font-weight: 500;
    color: $ceramic;
}
