@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as m;

.footer {
    width: 1920px;
    margin: 100px auto 0 0;
    background: $dark;
    color: $light;
    padding: 80px 240px 52px 240px;
    text-align: left;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 314px;
}

.footer__title {
    @include m.title;
    color: $light;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}