@use "/src/sass/base/variables.scss" as *;

:root {
    --page: 1920px;
    --header-logo-w: 150px;
    --header-logo-h: 150px;
    --nav-offset-top: 36px;
    --search-right: 275px;
    --icon-gap: 35px;
}

.header {
    margin-top: 40px;
    width: min(100%, var(--page));
    margin-inline: auto;
    position: relative;

    &__inner {
        position: relative;
        display: grid;
        grid-template-rows: var(--header-logo-h) calc(var(--nav-offset-top) + 2px) max-content;
    }

    &__logo {
        justify-self: center;
        align-self: center;
        width: var(--header-logo-w);
        height: var(--header-logo-h);
        display: block;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__icon {
        position: absolute;
        width: 20px;
        height: 20px;
        color: $dark;
        display: inline-grid;
        place-items: center;
        text-decoration: none;
    }

    &__icon[data-icon="search"] {
        right: var(--search-right);
    }

    &__icon[data-icon="cart"] {
        right: calc(var(--search-right) - var(--icon-gap));
    }
}

.nav {
    grid-row: 3;
    justify-self: center;

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    &__link {
        font-size: 20px;
        color: $dark;
        text-transform: uppercase;
        font-weight: $font-weight-regular;
        text-decoration: none;
        line-height: 1;
    }
}

