@use "/src/sass/base/variables.scss" as *;

:root {
    --page: 1920px;
    --header-logo-w: 150px;
    --header-logo-h: 150px;
    --nav-offset-top: 36px;
    --search-right: 275px;
    --icon-gap: 35px;
    --burger-w: 24px;
    --burger-bar: 1px;
    --burger-gap: 10px;
    --burger-h: calc(var(--burger-bar) * 3 + var(--burger-gap) * 2);
}

.header {
    margin-top: 40px;
    width: min(100%, var(--page));
    margin-inline: auto;
    position: relative;

    &__inner {
        position: relative;
        display: grid;
        grid-template-rows: var(--header-logo-h) calc(var(--nav-offset-top) + 2px) max-content;
    }

    &__logo {
        justify-self: center;
        align-self: center;
        width: var(--header-logo-w);
        height: var(--header-logo-h);
        display: block;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__icon {
        position: absolute;
        width: 20px;
        height: 20px;
        color: $dark;
        display: inline-grid;
        place-items: center;
        text-decoration: none;
    }

    &__icon[data-icon="search"] {
        right: var(--search-right);
    }

    &__icon[data-icon="cart"] {
        right: calc(var(--search-right) - var(--icon-gap));
    }
}

.nav {
    grid-row: 3;
    justify-self: center;

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    &__link {
        font-size: 20px;
        color: $dark;
        text-transform: uppercase;
        font-weight: $font-weight-regular;
        text-decoration: none;
        line-height: 1;
    }
}

.burger {
    position: absolute;
    left: 10px;
    top: 0;
    width: var(--burger-w);
    height: var(--burger-h);
    display: none;
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    z-index: 7;
}

html.nav-open,
body.nav-open {
    overflow: hidden;
}

.burger__bar {
    position: absolute;
    left: 0;
    right: 0;
    height: var(--burger-bar);
    background: $dark;
    transform-origin: center;
    transition: transform .2s ease, opacity .2s ease, top .2s ease;
}

.burger__bar:nth-child(1) {
    top: 0;
}

.burger__bar:nth-child(2) {
    top: calc(var(--burger-gap) + var(--burger-bar));
}

.burger__bar:nth-child(3) {
    top: calc(var(--burger-gap) * 2 + var(--burger-bar) * 2);
}

.burger.is-active .burger__bar:nth-child(1) {
    top: calc(var(--burger-gap) + var(--burger-bar));
    transform: rotate(45deg);
}

.burger.is-active .burger__bar:nth-child(2) {
    opacity: 0;
}

.burger.is-active .burger__bar:nth-child(3) {
    top: calc(var(--burger-gap) + var(--burger-bar));
    transform: rotate(-45deg);
}

@media (max-width: 1200px) {
    :root {
        --search-right: 56px;
        --icon-gap: 35px;
    }
    .header {
        margin-top: 50px;
    }
    .nav__list {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    :root {
        --search-right: 52px;
    }
}

@media (max-width: 360px) {
    :root {
        --search-right: 45px;
    }
    .burger {
        display: inline-block;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        min-height: 100vh;
        background: $light;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity .2s ease, visibility .2s ease;
        z-index: 6;
        padding: calc(var(--burger-h) + 100px) 238px 0 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    .nav.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-left: 20px;
        padding: 0;
        gap: 25px;
        list-style: none;
    }

    .nav__list > li {
        width: 100%;
    }

    .nav__link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 14px 0;
    }

    .header__icon[data-icon="search"],
    .header__icon[data-icon="cart"] {
        top: 0;
    }
}
