@use "/src/sass/base/variables.scss" as *;

:root {
    --header-logo-w: 150px;
    --header-logo-h: 150px;
    --nav-offset-top: 39px;
    --search-right: 390px;
    --icon-gap: 15px;
}

.header {
    width: 1920px;
    margin: 0 auto;
    position: relative;

    &__inner {
        width: 100%;
        height: calc(var(--header-logo-h) + var(--nav-offset-top) + 44px);
        box-sizing: border-box;
        position: relative;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: var(--header-logo-w);
        height: var(--header-logo-h);
        display: block;
    }

    &__icons {

    }

    &__icon {
        position: absolute;
        top: 12px;
        width: 24px;
        height: 24px;
        color: $dark;

        &:first-child {
            right: var(--search-right);
        }

        &:nth-child(2) {
            right: calc(var(--search-right) - var(--icon-gap));
        }
    }
}

.burger {
    display: none;
}

.nav {
    position: absolute;
    left: 50%;
    top: calc(var(--header-logo-h) + var(--nav-offset-top));
    transform: translateX(-50%);
    margin: 0;
    padding: 0;

    &__list {
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
    }

    &__link {
        font-size: 20px;
        color: $dark;
        text-transform: uppercase;
        font-weight: $font-weight-regular;
        text-decoration: none;
        line-height: 1;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}