@use "/src/sass/base/variables.scss" as *;

:root {
    --page: 1920px;
    --header-logo-w: 150px;
    --header-logo-h: 150px;
    --nav-offset-top: 36px;
    --header-h: calc(var(--header-logo-h) + var(--nav-offset-top) + 62px);
}

.header {
    width: min(100%, var(--page));
    margin-inline: auto;
    position: relative;
    z-index: 2;
}

.masthead {
    --left: 720px;
    --gap: 73px;
    --right: 240px;

    width: min(100%, var(--page));
    margin-inline: auto;
    position: relative;

    display: grid;
    grid-template-columns: var(--left) 1fr;
    column-gap: var(--gap);
}

.masthead__hero {
    position: absolute;
    top: calc(-1 * var(--header-h));
    left: 0;
    width: 640px;
    height: 900px;
    object-fit: cover;
    z-index: 1;
}

.masthead__right {
    grid-column: 2;
    padding-top: 2px;
    padding-right: var(--right);
    box-sizing: border-box;
}

.masthead__promo {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) max-content;
    grid-template-rows: max-content max-content;
    column-gap: 30px;
    margin-top: 80px;
    align-items: end;
    margin-left: auto;
    margin-right: 0;
}

.masthead__promo > .title-h1-italic {
    font-weight: $font-weight-regular;
    font-size: $font-size-smth;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: end;
    width: max-content;
    text-align: left;
    margin: 0;
}

.masthead__promo-img {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    width: 330px;
    height: 460px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .25));
    transform: translateX(0px);
}

.masthead__promo-btn {
    width: 330px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    margin-top: 50px;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 1200px) {
    :root {
        --header-logo-w: 100px;
        --header-logo-h: 100px;
        --nav-offset-top: 20px;
        --header-h: calc(var(--header-logo-h) + var(--nav-offset-top) + 72px);
    }

    .masthead__hero {
        width: 450px;
        height: 633px;
    }

    .masthead {
        --left: 328px;
        --gap: 56px;
        --right: 30px;
    }

    .masthead__promo {
        grid-template-columns: minmax(0, 1fr) max-content;
        margin-left: auto;
        margin-right: var(--right);
        margin-top: 50px;
        column-gap: 10px;
    }

    .masthead__promo > .title-h1-italic {
        justify-self: end;
        font-size: 24px;
    }

    .masthead__promo-img {
        width: 230px;
        height: 321px;
    }

    .masthead__promo-btn {
        width: 230px;
        height: 50px;
        margin-top: 18px;
    }
}

@media (max-width: 768px) {
    .masthead {
        grid-template-columns: 1fr;
        --right: 30px;
    }

    .masthead__hero {
        display: none;
    }

    .masthead__right {
        grid-column: 1;
        padding-right: 0;
    }

    .masthead {
        --left: 328px;
        --right: 20px;
    }

    .masthead__promo {
        grid-template-columns: minmax(0, 1fr) max-content;
        margin-left: 50px var(--right) auto;
        column-gap: calc(90px + 17px);
    }

    .masthead__promo-img {
        transform: translateX(-17px);
    }

    .masthead__promo-btn {
        transform: translateX(-17px);
    }
}

@media (max-width: 360px) {
    .masthead {
        grid-template-columns: 1fr;
    }
    .masthead__hero {
        position: static;
        width: 100%;
        height: 300px;
    }
    .masthead__right {
        grid-column: 1;
        padding-right: 0;
    }
    .masthead__promo {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        column-gap: 0;
        margin-top: 20px;
    }
    .masthead__promo > .title-h1-italic {
        justify-self: start;
        font-size: 24px;
    }
    .masthead__promo-img {
        grid-column: 1;
        width: 100%;
        height: 280px;
    }
    .masthead__promo-btn {
        grid-column: 1;
        width: 100%;
        height: 48px;
        margin-top: 16px;
    }
}