@use "/src/sass/base/mixins.scss" as *;

.btn-default {
    @include button;
    width: 230px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    border-radius: 2px;
    cursor: pointer;
}